@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    ._button-style{
        @apply select-none border-2 px-2 py-1 rounded-md hover:text-white hover:bg-[#141517] hover:cursor-pointer w-14 text-xs sm:w-20 sm:text-base flex justify-center
    }
    .test{
        @apply transition-all
    }
}

#root{
    width: 100vw;
    overflow-x: hidden;
    height: 100vh;
}